<section class="enjoy">
    <div class="enjoy__body">
        <div class="enjoy__article">
            <h1 class="enjoy__article-title"><span>Enjoy</span>
                premium coffee at our charming cafe</h1>
            <p class="enjoy__article-text">With its inviting
                atmosphere and delicious coffee options, the Coffee
                House Resource is a popular destination for coffee
                lovers and those seeking a warm and inviting space
                to enjoy their favorite beverage.</p>
            <a is="router-link" href="/menu" class="menu-button">Menu <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                height="20" viewBox="0 0 20 20" fill="none">
                <path
                    d="M14.166 9.76667V11.6667C14.166 14.8883 11.5543 17.5 8.33268 17.5C5.11102 17.5 2.49935 14.8883 2.49935 11.6667V9.76667C2.49935 9.4353 2.76798 9.16667 3.09935 9.16667H13.566C13.8974 9.16667 14.166 9.4353 14.166 9.76667Z"
                    stroke="#403F3D" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M9.99935 7.49996C9.99935 6.66663 10.5946 5.83329 11.7851 5.83329V5.83329C13.1 5.83329 14.166 4.7673 14.166 3.45234V2.91663"
                    stroke="#403F3D" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M6.66732 7.5V7.08333C6.66732 5.70262 7.78661 4.58333 9.16732 4.58333V4.58333C10.0878 4.58333 10.834 3.83714 10.834 2.91667V2.5"
                    stroke="#403F3D" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M13.334 9.16663H15.4173C16.5679 9.16663 17.5007 10.0994 17.5007 11.25C17.5007 12.4006 16.5679 13.3333 15.4173 13.3333H14.1673"
                    stroke="#403F3D" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            </span></a>
        </div>
    </div>
</section>
<section id="favourites-coffee" class="favourites-coffee">
    <h2 class="favourites-coffee-title">Choose your <span>favorite</span>
        coffee</h2>
    <div class="favourites-coffee-slider">
        <div class="slider__body">
            <div class="slider__previos">
                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M6 12H18.5M18.5 12L12.5 6M18.5 12L12.5 18"
                        stroke="#403F3D" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
            <div class="slider-hiden">
                <div class="slider-row ">
                    <figure class="slider__figure ">
                <div class="slider-image slider-image1"></div>
                        <div class="slider__figure-body">
                            <p class="slider__title">S’mores
                                Frappuccino</p>
                            <p class="slider__text">This new drink
                                takes an
                                espresso and mixes it with brown
                                sugar and
                                cinnamon before being topped with
                                oat milk.</p>
                            <p class="slider__cost">$5.50</p>
                        </div>
                    </figure>
                    <figure class="slider__figure">
                        <div class="slider-image slider-image2"></div>                        <div class="slider__figure-body">
                            <p class="slider__title">Caramel
                                Macchiato</p>
                            <p class="slider__text">Fragrant and
                                unique classic espresso with rich
                                caramel-peanut syrup, with cream
                                under whipped thick foam.</p>
                            <p class="slider__cost">$5.00</p>
                        </div>
                    </figure>
                    <figure class="slider__figure">
                        <div class="slider-image slider-image3"></div>                        <div class="slider__figure-body">
                            <div class="slider__figure-body">
                            <p class="slider__title">Ice coffee</p>
                            <p class="slider__text">A popular summer
                                drink that tones and invigorates.
                                Prepared from coffee, milk and ice.</p>
                            <p class="slider__cost">$4.50</p>
                        </div>
                    </figure>
                </div>

            </div>

            <div class="slider__next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M6 12H18.5M18.5 12L12.5 6M18.5 12L12.5 18"
                        stroke="#403F3D" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <div class="slider__controls">
            <div class="slider__conrol conrol1">
                <div></div>
            </div>
            <div class="slider__conrol conrol2" >
                <div></div>
            </div>
            <div class="slider__conrol conrol3">
                <div></div>
            </div>

        </div>
    </div>
</section>
